.account {
  width: 410px;
  margin: 74px auto 0 auto;
  padding-bottom: 84px;
}

.account__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

.account__form {
  display: flex;
  flex-direction: column;
  margin: 123px auto 0 auto;
}

.account__name {
  display: flex;
  justify-content: space-between;
}

.account__mail {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
}

.account__text {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.account__line {
  width: 100%;
  margin-top: 17px;
  border: 1px solid #424242;
}

.account__edit {
  margin-top: 220px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.account__exit {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
}


@media screen and (max-width: 767px) {
  .account {
    width: 260px
  }
}
