.header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 18px 0;
}

.header__logo {
  width: 38px;
  height: 38px;
  align-self: center;
}

.header__links {
  display: flex;
  margin: 0 0 0 45px;
}

.header__link {
  margin: 0 16px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-self: center;
  justify-self: center;
  text-decoration: none;
}

.header__link:last-of-type {
  margin: 0;
}

.header__profile {
  width: 100px;
  height: 32px;
}

.header__auth {
  display: flex;
  margin-left: auto;
}

.header__register {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  margin-right: 30px;
}

.header__button {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  margin: auto;
  border-radius: 3px;
  appearance: none;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
}

.header__button-text {
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .header {
    display: flex;
    width: 92%;
    margin: 0 auto;
    padding: 18px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    width: 91%;
    margin: 0 auto;
    padding: 18px 0;
  }

  .header__register {
    font-size: 10px;
    margin-right: 14px;
  }

  .header__links {
    display: none
  }

  .header__button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 16px;
  }
}
