.navigator {
  background-color: #272727;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.navigator__links {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navigator__link {
  margin-right: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  border-bottom: 2px solid #ffffff;
}

.navigator__link:last-of-type {
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .navigator__link {
    margin-right: 24px;
    font-size: 11px;
  }
}
